p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

body {
  padding-top:70px;
  margin: 0;
}

#lyrics-panel {width: 500px;}

/* Mobile optimization */
@media screen and (max-width: 800px) {
  .navbar {
    padding-top: 0px;
    height: 120px;
    width: 100%;
    z-index: 150;
    top: 0;
    position: fixed;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    border: 5px black;
    overflow: hidden;
  }
  body {
    padding-top:150px;
    margin: 0;
  }
  #navbar-header { display: none; }
  #lyrics-panel {width: 350px;}
}
