#mobile-view { display: none; }

#submit-button {
  display: none;
  background-color: #1b1e36;
  color: white;
  border-color: white;
  height: 50px;
  padding-left: 10px;
}

#lyrics {
  min-width: 350px
}

#error{
  color: red!important;
  text-shadow: whitesmoke;
}

#home-info {
  border: 1px solid #a8a8a8;
  height: 600px;
  max-width: 1000px;
  text-align: center;
}

#full-screen {
  padding-top: 15px;
  padding-right: 15%;
  padding-left: 15%;
  display: flex;
  flex: 1 0 auto;
  background: linear-gradient(to bottom, #ebebf0, #ccccf0);
}

#sticky-footer {
  flex-shrink: none;
  text-align: center;
}

.tab-content {
  margin-top: 15px;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-bottom: 25px;
  }

  #mobile-parent {
    padding-bottom: 25px;
  }
  
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }

#search_form_input {
  width: 450px;
}

.card-header {
  background-color: #1b1e36;
  color: white;
}

.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.navbar-custom { 
  background-color: #1b1e36; 
} 

#track-nav {
  float: none;
  left: 25%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img{
  width: auto;
  height: 245px;
  max-height: 245px;
  margin: auto; 
  margin-bottom: 50px;
  display: block;
  }


.col-centered{
   float: none;
   margin: 0 auto;
  }

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

.form-inline label {
  margin: 5px 10px 5px 0;
}

.container-fluid .input-form .btn {
  background: #ddd;
  margin: auto;
}

#body-view-album {
  padding-top:70px;
  margin: 0;
}

#ui-id-1 {z-index: 9999;}

tr {
  font-size: 11px;
}

tr:nth-child(even) {
  background-color: #e9f2f7;
}

.nav-tabs {
  margin-top: 10px;
}

#charts {
  margin-top: 5px;
}

#charts_mobile {
  margin-top: 5px;
}

.album-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: 'black';
  text-align: center;
}

#vibe-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}

#track-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}

#vibe-header-mobile {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}

#track-header-mobile {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}

.nav-pills > li > a.active {
  background: #1b1e36!important;  /* your preferred color */
}

.center-pills {
  display: flex;
  justify-content: center;
}


/* Tablet optimization */
@media screen and (max-width: 1400px) {
  /* body {
    padding-top:80px;
  }
  #navbar-header { display: none; }
  #lyrics-panel {width: 350px;}
  #home-panel {width: 350px;} */
  #full-screen { display: none; }
  #mobile-view { 
    display: block;
    align-items: center;
    padding-top: 10px;
    flex: 1 0 auto;
    background: linear-gradient(to bottom, #ebebf0, #ccccf0);
   }
   #home-info {
     height: 100%;
   }
   #track-nav {
    float: none;
    left: 5%;
  }
  #search_form_input {width: 180px}
}

