<!DOCTYPE html>
<html lang="en">

<head>
  <title>Album Companion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
	<!-- <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
	<link rel="apple-touch-icon" href="/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png"> -->
	<!-- <meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml"> -->
  <link rel="stylesheet" href="https://bootswatch.com/3/cosmo/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/album.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/song_data.js') }}"></script> -->
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" id="navbar-header">
      <a class="navbar-brand">Search for your album</a>
    </div>

    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"> -->
        <form class="navbar-form navbar-left" action="{{ url_for('search_result') }}" method="post" role="search">
        <div class="form-group">
          <input type="text" id="search_form_input" class="form-control" name="album-search" placeholder="Artist + album" autocomplete="off">
        
        <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
      </div>


      </form>
    <!-- </div> -->
  </div>
</nav>

<body style="background-color:#4a5266;">

    
    <div class="container-fluid" >
    <div class="row">
      <div class="col-xs-4">
        <div class="panel with-nav-tabs panel-primary" id="home-panel">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1primary" data-toggle="tab">About</a></li>
                        <li><a href="#tab2primary" data-toggle="tab">Q&A</a></li>
                        <li><a href="#tab3primary" data-toggle="tab">Credits</a></li>
                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary" align="center">
                      <p>This app will give you background about the album you're listening to, including lyric content/insights from Genius.com, song attributes from Spotify, and a graphical overview of the album journey.</p>
                      <p>Please use the search tool at the top to find the album.</p>
                      <p>Here are some examples to get you started:</p>
                      <p><a href="/4kzdIGut16dPjbvuxQ8rwC">'Weezer (The Blue Album)' by Weezer</a></p>
                      <p><a href="/4BRkPBUxOYffM2QXVlq7aC">'Revolver' by The Beatles</a></p>
                      <p><a href="/5CaXxLM568tBh1PwhXdciZ">'Graduation' by Kanye West</a></p>
                      <p><a href="/3OsUjkcv1C1v5udFhgRSFg">'OK Computer' by Radiohead</a></p>
                      <p><a href="/6ie2Bw3xLj2JcGowOlcMhb">'Melodrama' by Lorde</a></p>
                    </div>
                    <div class="tab-pane fade" id="tab2primary">
                      <div class="panel-group" id="faqAccordion">
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                                 <h4 class="panel-title">
                                    <a href="#" class="ing">Q: How were the track attributes calculated?</a>
                              </h4>
                
                            </div>
                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                     <h5><span class="label label-primary">Answer</span></h5>
                
                                    <p>Apart from the mood and lyrical sentiment attributes, all of the attributes were generated by <a href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-several-audio-features/" target="_blank">Spotify's audio analysis</a>.
                                        </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                                 <h4 class="panel-title">
                                    <a href="#" class="ing">Q: What about the lyrical sentiment and mood attributes?</a>
                              </h4>
                
                            </div>
                            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                     <h5><span class="label label-primary">Answer</span></h5>
                
                                    <p>The <b>lyrical sentiment</b> is estimated based on the <a href="https://www.nltk.org/index.html" target="_blank">Natural Language Toolkit</a> processing. A song's lyrics are processed through <a href="https://github.com/nltk/nltk/wiki/Sentiment-Analysis" target="_blank">sentiment analysis</a> to return the final number.
                                    <br><br>The <b>mood</b> attribute takes the average of Spotify's musical valence attribute (i.e. how positive a song <i>sounds</i>) and the lyrical sentiment.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                                 <h4 class="panel-title">
                                    <a href="#" class="ing">Q: How do I interpret the album track quadrant chart?</a>
                              </h4>
                
                            </div>
                            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                     <h5><span class="label label-primary">Answer</span></h5>
                
                                    <p>The track analysis chart plots each song's <b>mood</b> and <b>energy</b> attribute that results in four quadrants: high energy/positive, high energy/negative, low energy/positive, low energy/negative.
                                    <br><br>This was inspired by <a href="http://www.rcharlie.net/sentify/" target="_blank">RCharlie's Sentify app</a> which charts all of an artist's discography.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                    <div class="tab-pane fade" id="tab3primary"><ul>
                      <li><p><a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify API</a></p></li>
                      <li><p><a href="https://docs.genius.com/" target="_blank">Genius API</a></p></li>
                      <li><p><a href="http://www.rcharlie.net/sentify/" target="_blank">Sentify</a></p></li>
                      <li><p><a href="https://github.com/salimzubair/lyric-sentiment" target="_blank">Lyric Sentiment Project</a></p></li>
                      <li><p><a href="https://github.com/willamesoares/lyrics-crawler" target="_blank">Lyrics Crawler</a></p></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
      <!-- <div class="col-xs-4" align="center">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">About</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <div class="panel panel-default" align="center">
              <div class="panel-body">
                <p>This app will give you background about the album you're listening to, including lyric content/insights from Genius.com, song attributes from Spotify, and a graphical overview of the album journey.</p>
                <p>Please use the search tool at the top to find the starting song.</p>
                <br>
                <p>Here are some examples to get you started:</p>
                <p><a href="/4nzyOwogJuWn1s6QuGFZ6w">'Weezer (The Blue Album)' by Weezer</a></p>
                <p><a href="/3PRoXYsngSwjEQWR5PsHWR">'Revolver' by The Beatles</a></p>
                <p><a href="/5fPglEDz9YEwRgbLRvhCZy">'Graduation' by Kanye West</a></p>
                <p><a href="/3OsUjkcv1C1v5udFhgRSFg">'OK Computer' by Radiohead</a></p>
                <p><a href="/6ie2Bw3xLj2JcGowOlcMhb">'Melodrama' by Lorde</a></p>
                    </div>
                 </div></div>
      </div>
        </div> -->
      <!-- </div>
  </div> -->
</body>


</html>