<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Album Companion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="#" type="image/x-icon"/>
  <link rel="shortcut icon" href="#" type="image/x-icon"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap4-wizardry.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto:300,400" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/song_data.js') }}"></script> -->
  <script>
    $(function() {
      $("#search_form_input").autocomplete({
          source:function(request, response) {
              $.getJSON("{{url_for('autocomplete')}}",{
                  q: request.term, // in flask, "q" will be the argument to look for using request.args
              }, function(data) {
                  response(data.matching_results); // matching_results from jsonify
              });
          },
          minLength: 3,
          select: function(event, ui) {
              event.preventDefault();
              $("#search_form_input").val(ui.item.value);
              $("#search_form").submit();
          }
      });
    });
  </script>
</head>


<body>
  <div class="jumbotron bg-wizardry bg-dark text-white mb-0 radius-0" id="jumbotron" align="center">
    <div class="container">
  
        <h1 class="display-1 text-light">The Album Companion
          <span class="fa fa-music text-warning display-icon"></span>
        </h1>
        <span class="lead">Follow the journey of an album through data<br><br></span>
        <form class="form-inline justify-content-center" action="{{ url_for('search_result') }}" method="post" role="search" id="search_form"> 
          <i class="fas fa-search" aria-hidden="true"></i>
          <input type="text" id="search_form_input" class="form-control form-control-sm ml-3 w-75" style="height:50px" name="album-search" placeholder="Search for your album" autocomplete="off">
        <button type="submit" class="btn btn-default" id="submit-button" disabled><span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Analyzing...</button>
      </form>
  
    </div>
  </div>
  <div class="container py-5" id="home-info" style="background-color:#f0f0f5;">
    <ul class="nav nav-pills center-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#tab1primary">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#tab2primary">Q&A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#tab3primary">Credits</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="tab1primary" class="tab-pane container active">
        <br>
        <p>This app will give you background about the album you're listening to, including lyric content/insights from Genius.com, song attributes from Spotify, and a graphical overview of the album journey.</p>
        <p>Please use the search tool at the top to find the album or choose from an example below.</p>
        <br>
        <div class="col-sm-6 col-centered">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item" data-interval="3000"><a href="/song/3OsUjkcv1C1v5udFhgRSFg">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/a/a1/Radiohead.okcomputer.albumart.jpg" alt="OK Computer"></a>
            </div>
            <div class="carousel-item active" data-interval="3000"><a href="/song/4BRkPBUxOYffM2QXVlq7aC">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/1/16/Revolver.jpg" alt="Revolver"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/4nzyOwogJuWn1s6QuGFZ6w">
              <img class="d-block0" src="https://upload.wikimedia.org/wikipedia/en/7/70/Weezer_-_Blue_Album.png" alt="Weezer"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/5fJqkPtaFohDuNXWJdXyVS">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/9/91/FKATwigs_Magdalene.png" alt="MAGDALENE"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/5jzma6gCzYtKB1DbEwFZKH">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/0/00/TheClashLondonCallingalbumcover.jpg" alt="London Calling"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/04kaFiaV3JZt8BkIltXK75">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/b/bb/PetSoundsCover.jpg" alt="Pet Sounds"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/5CaXxLM568tBh1PwhXdciZ">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg" alt="Graduation"></a>
            </div>
            <div class="carousel-item" data-interval="3000"><a href="/song/6ie2Bw3xLj2JcGowOlcMhb">
              <img class="d-block" src="https://upload.wikimedia.org/wikipedia/en/b/b2/Lorde_-_Melodrama.png" alt="Melodrama"></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      </div>
      <div id="tab2primary" class="tab-pane container fade">
        <div class="panel-group" id="faqAccordion">
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                   <h4 class="panel-title">
                     <br>
                      <a href="#" class="ing">Q: How were the track attributes calculated?</a>
                </h4>
  
              </div>
              <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Answer</span></h5>
  
                      <p>Apart from the mood and lyrical sentiment attributes, all of the attributes were generated by <a href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-several-audio-features/" target="_blank">Spotify's audio analysis</a>.
                          </p>
                  </div>
              </div>
          </div>
          <br>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Q: What about the lyrical sentiment and mood attributes?</a>
                </h4>
  
              </div>
              <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Answer</span></h5>
  
                      <p>The <b>lyrical sentiment</b> is estimated based on the <a href="https://www.nltk.org/index.html" target="_blank">Natural Language Toolkit</a> processing. A song's lyrics are processed through <a href="https://github.com/nltk/nltk/wiki/Sentiment-Analysis" target="_blank">sentiment analysis</a> to return the final number.
                      <br><br>The <b>mood</b> attribute takes the average of Spotify's musical valence attribute (i.e. how positive a song <i>sounds</i>) and the lyrical sentiment.</p>
                  </div>
              </div>
          </div>
          <br>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Q: How do I interpret the album track quadrant chart?</a>
                </h4>
  
              </div>
              <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Answer</span></h5>
  
                      <p>The track analysis chart plots each song's <b>mood</b> and <b>energy</b> attribute that results in four quadrants: high energy/positive, high energy/negative, low energy/positive, low energy/negative.
                      <br><br>This was inspired by <a href="http://www.rcharlie.net/sentify/" target="_blank">RCharlie's Sentify app</a> which charts all of an artist's discography.</p>
                  </div>
              </div>
              </div>
              </div>
      </div>
      <div id="tab3primary" class="tab-pane container fade" align="left">
        <br>
        <ul>
          <li><p><a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify API</a></p></li>
          <li><p><a href="https://spotipy.readthedocs.io/en/2.12.0/#" target="_blank">Spotipy Python Library</a></p></li>
          <li><p><a href="https://docs.genius.com/" target="_blank">Genius API</a></p></li>
          <li><p><a href="https://www.nltk.org/index.html" target="_blank">Natural Language Toolkit</a></p></li>
          <li><p><a href="http://www.rcharlie.net/sentify/" target="_blank">Sentify by RCharlie</a></p></li>
          <li><p><a href="https://github.com/salimzubair/lyric-sentiment" target="_blank">Lyric Sentiment Project</a></p></li>
          <li><p><a href="https://github.com/willamesoares/lyrics-crawler" target="_blank">Lyrics Crawler</a></p></li>
          <li><p><a href="https://unsplash.com/photos/CMnNiQBkwBI" target="_blank">Photo by Jack Hamilton on Unsplash</a></p></li>
        </ul>
      </div>
    </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small><i class="fab fa-twitter"></i> <a href="https://twitter.com/AlbumCompanion" target="_blank">updates</a> | <i class="fab fa-github-alt"></i> <a href="https://github.com/rthawkins/Album_Companion" target="_blank">rthawkins</a> | bootstrap: <a href="https://hackerthemes.com/bootstrap-themes/demo/wizardry/" target="_blank">wizardry</a></small>
      </div>
    </footer>

</body>


</html>
